<div class="container-fluid" id="societies">
    <div class="row">
        <div class="col-md-12 grid-margin stretch-card">
            <div class="card">
                <div class="card-header">
                    <h3 class="card-title bg_dblue">Add New Society</h3>

                </div>
                <div class="card-body">
                    <!-- form  -->
                    <form [formGroup]="societyForm" (ngSubmit)="onnewSocietyForm()" enctype="multipart/form-data">

                        <div class="form-row">
                            <div class="col-md-12  mb-3">
                                <label for="name">Society Name</label>
                                <input type="text" class="form-control" id="name" placeholder="Enter name" value="" required formControlName="name" [ngClass]="{
                                        'is-invalid': submitted && f.name.errors && f.name.touched,
                                        'is-valid': f.name.touched && f.name.valid 
                                    }">
                                <div *ngIf="f.name.touched && f.name.invalid" class="invalid-feedback">
                                    <div *ngIf="f.name.errors?.required">
                                        Name is Required !
                                    </div>
                                    <!-- <div *ngIf="f.name.errors?.minlength">
                                        Name is Required !
                                    </div> -->
                                </div>
                            </div>
                        </div>

                        <div class="form-row">

                            <div class="col-md-4 mb-3">
                                <label for="pincode">Pincode</label>
                                <input type="text" id="pincode" class="form-control" required placeholder="Pincode" formControlName="pincode" [ngClass]="{
                                        'is-invalid': submitted && f.pincode.errors && f.pincode.touched,
                                        'is-valid': f.pincode.touched && f.pincode.valid 
                                        }">
                                <div *ngIf="f.pincode.touched && f.pincode.invalid" class="invalid-feedback">
                                    <div *ngIf="f.pincode.errors?.required">
                                        Pincode is Required !
                                    </div>

                                </div>
                            </div>

                            <div class="col-md-4 mb-3">
                                <label for="state">State</label>
                                <select class="form-control select form-select" id="state" required formControlName="state" [ngClass]="{
                                        'is-invalid': submitted && f.state.errors && f.state.touched,
                                        'is-valid': f.state.touched && f.state.valid 
                                        }">
                                    <option value="">Select State</option>
                                    <option value="Abhayapuri">Abhayapuri</option>
                                    <option value="Abhayapuri">Abhayapuri</option>
                                    <option value="Achhnera">Achhnera</option>
                                    <option value="Adalaj">Adalaj</option>
                                    <option value="Adari">Adari</option>
                                </select>

                                <div *ngIf="f.state.touched && f.state.invalid" class="invalid-feedback">
                                    <div *ngIf="f.state.errors?.required">
                                        State is Required !
                                    </div>

                                </div>
                            </div>

                            <div class="col-md-4 mb-3">
                                <label for="city">City</label>
                                <select class="form-control select form-select" id="city" required formControlName="city" [ngClass]="{
                                        'is-invalid': submitted && f.city.errors && f.city.touched,
                                        'is-valid': f.city.touched && f.city.valid 
                                    }">
                                    <option value="">Select City</option>
                                    <option value="Abhayapuri">Abhayapuri</option>
                                    <option value="Abhayapuri">Abhayapuri</option>
                                    <option value="Achhnera">Achhnera</option>
                                    <option value="Adalaj">Adalaj</option>
                                    <option value="Adari">Adari</option>
                                </select>
                                <div *ngIf="f.city.touched && f.city.invalid" class="invalid-feedback">
                                    <div *ngIf="f.city.errors?.required">
                                        City is Required !
                                    </div>

                                </div>
                            </div>



                            <!-- <div class="col-md-3 mb-3">
                                <label for="area">Area</label>
                                <input type="text" id="area" class="form-control" required placeholder="Area" formControlName="area" [ngClass]="{
                                        'is-invalid': submitted && f.area.errors && f.area.touched,
                                        'is-valid': f.area.touched && f.area.valid 
                                        }">

                                <div *ngIf="f.area.touched && f.area.invalid" class="invalid-feedback">
                                    <div *ngIf="f.area.errors?.required">
                                        Area is Required !
                                    </div>

                                </div>
                            </div> -->



                        </div>

                        <div class="form-group">
                            <label for="address">Address</label>
                            <div class="col-sm-12 col-md-12">
                                <textarea class="form-control" id="address" rows="2" required formControlName="address" [ngClass]="{
                                                'is-invalid': submitted && f.address.errors && f.address.touched,
                                                'is-valid': f.address.touched && f.address.valid 
                                          }">
                                </textarea>
                                <div *ngIf="f.address.touched && f.address.invalid" class="invalid-feedback">
                                    <div *ngIf="f.address.errors?.required">
                                        Address is Required !
                                    </div>

                                </div>

                            </div>
                        </div>



                        <div class="form-row ">

                            <div class="col-md-3 mb-3">
                                <label for="email">Email</label>
                                <input type="text" id="Email" class="form-control" required placeholder="Email" formControlName="email" [ngClass]="{
                                        'is-invalid': submitted && f.email.errors && f.email.touched,
                                        'is-valid': f.email.touched && f.email.valid 
                                        }">

                                <div *ngIf="f.email.touched && f.email.invalid" class="invalid-feedback">
                                    <div *ngIf="f.email.errors?.required">
                                        email is Required !
                                    </div>

                                </div>
                            </div>

                            <div class="col-md-3 mb-3">
                                <label for="phoneNumber">Phone Number</label>
                                <input type="text" id="phoneNumber" class="form-control" required placeholder="Phone No" formControlName="phone_number" [ngClass]="{
                                        'is-invalid': submitted && f.phone_number.errors && f.phone_number.touched,
                                        'is-valid': f.phone_number.touched && f.phone_number.valid 
                                        }">
                            </div>

                            <div class="col-md-3 mb-3">
                                <label for="RegistrationNumber">Registration Number</label>
                                <input type="text" id="RegistrationNumber" class="form-control" required placeholder="Registration Number" formControlName="registration_no" [ngClass]="{
                                        'is-invalid': submitted && f.registration_no.errors && f.registration_no.touched,
                                        'is-valid': f.registration_no.touched && f.registration_no.valid 
                                        }">
                            </div>

                            <div class="col-md-3 mb-3">
                                <label for="gstin">GSTIN</label>
                                <input type="text" id="gstin" class="form-control" required placeholder="GSTIN" formControlName="gstin" [ngClass]="{
                                        'is-invalid': submitted && f.gstin.errors && f.gstin.touched,
                                        'is-valid': f.gstin.touched && f.gstin.valid 
                                       }">
                            </div>

                        </div>


                        <!-- <div class="form-group row">
                            <div class="col-sm-12 col-md-7 me-3">
                                <input class="me-3" name="is_gst" type="checkbox" value="1" id="gst">
                                <label for="gst">Is GST Applicable</label>
                            </div>
                        </div> -->

                        <div class="form-row">

                            <div class="col-md-6 mb-3">
                                <label for="OpeningBalance">opening balance</label>
                                <input type="text" id="OpeningBalance" class="form-control" required placeholder="Opening Balance" formControlName="openingbalance" [ngClass]="{
                                        'is-invalid': submitted && f.openingbalance.errors && f.openingbalance.touched,
                                        'is-valid': f.openingbalance.touched && f.openingbalance.valid 
                                        }">

                            </div>

                            <div class="col-md-6 mb-3">
                                <label for="NumberofFlats">Number of Flats</label>
                                <input type="text" id="NumberofFlats" class="form-control" required placeholder="Number of Flats" formControlName="noofflats" [ngClass]="{
                                        'is-invalid': submitted && f.noofflats.errors && f.noofflats.touched,
                                        'is-valid': f.noofflats.touched && f.noofflats.valid 
                                        }">
                            </div>


                        </div>

                        <!-- <div class="form-group row ">
                            <div class="col-sm-12 col-md-7 me-3">
                                <input class="me-3" name="AutoGenerateBill" type="checkbox" value="1" id="AutoGenerateBill">
                                <label for="AutoGenerateBill">Auto Generate Bill</label>
                            </div>
                        </div> -->




















                        <hr>
                        <div class="form-group">
                            <button class="btn btn-primary" [disabled]="!societyForm.valid">Submit</button>
                            <button class="btn btn-secondary float-end">Reset</button>
                        </div>



                    </form>
                    <!-- /form  -->
                </div>
            </div>
        </div>
    </div>
</div>