<div id="societyRole">
    <div class="container">

    

          <div class="card p-3">

            
            
            <div class="card-header">
                <h3 class="card-title bg_dblue">Roles</h3>
                <button type="button" class="btn btn-primary btn-sm float-end" routerLink="add" >Add Roles</button>
              </div>
              <div class="card-body">
                <div class="row">
                    <div class="col-12">
                      <div class="table-responsive">                 
  <table id="dataTables-roleSociety" class="display compact table table-hover table-sm table-bordered text-ceneter">
  <thead>
    <tr>
      <th>Id</th>
      <th>Role Name</th>
      <th>Description</th>
      <th>Action</th>
     
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let item of roleSociety">
      <td>{{ item.id }}</td>
      <td>{{ item.roleName }}</td>
      <td>{{item.description}}</td>
      <td>
          <!-- <button type="button" class="btn btn-sm btn-primary me-3"><i class="far fa-eye"></i></button> -->
        <button type="button" class="btn btn-sm btn-success me-3" routerLink="edit/{{item.id}}" routerLinkActive="router-link-active" ><i class="fas fa-edit"></i></button>
      <button type="button" class="btn btn-sm btn-danger me-3" (click)="deleteRole(item.id)"><i class="far fa-trash-alt"></i></button></td>
      
      <!-- <td>{{item.Opening_Balance}}</td> -->
     
    </tr>
  </tbody>
    <!-- <tfoot>
      <tr>
        <th>ID</th>
        <th>Societies</th>
        <th>Registration No</th>
        <th>No of Flats</th>
        <th></th>
      </tr>
  </tfoot> -->
</table>
</div>
        
                        <!-- /.card -->
                    </div>
                </div>

              </div>
        
    </div>
    </div>
</div>
