<div id="loginCon">
    <div class="container-fluid">
        <div class="row">
            <form>
                <div _ngcontent-wup-c124="" class="brand_company">
                    <a _ngcontent-wup-c124="" class="brand-link fs-6 text-left ">
                        <span _ngcontent-wup-c124="" class="brand-text font-weight-bold ms-3">
                    <span _ngcontent-wup-c124="" class="brandCaptialW">
                      Basic Info </span></span>
                    </a>
                </div>
                <div class="row jumbotron shadow rounded">
                    <div class="col-sm-6 form-group">
                        <label for="society_name">Society Name</label>
                        <input type="text" class="form-control" name="society_name" id="society_name-2" placeholder="Enter Society Name" required>
                    </div>

                    <div class="col-sm-6 form-group">
                        <label for="email">Email</label>
                        <input type="email" class="form-control" name="email" id="email" placeholder="Enter your email." required>
                    </div>
                    <div class="col-sm-6 form-group">
                        <label for="phone">Phone</label>
                        <input type="text" class="form-control" name="phone" id="phone" placeholder="Enter your Phone number" required>
                    </div>

                    <div class="col-sm-6 form-group">
                        <label for="society_address">Society Address</label>
                        <input type="address" class="form-control" name="society_address" id="society_address" placeholder="Enter Society Address" required>
                    </div>
                    <div class="col-sm-3 form-group">
                        <label for="zip">Pincode</label>
                        <input type="zip" class="form-control" name="Zip" id="zip" placeholder="Pin-Code." required>
                    </div>

                    <div class="col-sm-3 form-group">
                        <label for="Country">Country</label>
                        <select class="form-control custom-select browser-default">
                <option value="India">	India</option>
                <option value="Indonesia">Indonesia</option>
                <option value="Iran">Iran</option>
                <option value="Iraq">	Iraq</option>
                <option value="Ireland">Ireland</option>
                <option value="Jamaica">Jamaica</option>
                <option value="Japan">Japan</option>
                </select>
                    </div>

                    <div class="col-sm-3 form-group">
                        <label for="Country">State</label>
                        <select class="form-control custom-select browser-default">
              <option value="India">	Maharashtra</option>
              <option value="Indonesia">Indonesia</option>
              <option value="Iran">Iran</option>
              <option value="Iraq">	Iraq</option>
              <option value="Ireland">Ireland</option>
              <option value="Jamaica">Jamaica</option>
              <option value="Japan">Japan</option>
              </select>
                    </div>

                    <div class="col-sm-3 form-group">
                        <label for="Country">City</label>
                        <select class="form-control custom-select browser-default">
            <option value="India">	Mumbai</option>
            <option value="Indonesia">Indonesia</option>
            <option value="Iran">Iran</option>
            <option value="Iraq">	Iraq</option>
            <option value="Ireland">Ireland</option>
            <option value="Jamaica">Jamaica</option>
            <option value="Japan">Japan</option>
            </select>
                    </div>
                    <div class="col-sm-4 form-group">
                        <label for="GSTIN">Registration Number</label>
                        <input type="text" class="form-control" name="Registration_Number" id="Registration_Number" placeholder="Enter Registration Number" required>
                    </div>

                    <div class="col-sm-4 form-group">
                        <label for="GSTIN">GSTIN</label>
                        <input type="text" class="form-control" name="GSTIN" id="GSTIN" placeholder="Enter GSTIN" required>
                    </div>

                    <div class="col-sm-4 form-group">
                        <label for="Country">Select Operation Mode</label>
                        <select class="form-control custom-select browser-default">
          <option value="Full Mode">Full Mode</option>
          <option value="Bill & Pay">Bill & Payments</option>
          <option value="Accounting">Accounting</option>
          <option value="Accounting">	Accounting</option>
          <option value="Visitor Management">Visitor Management</option>
          </select>
                    </div>





                    <hr>
                    <div class="col-sm-12 form-group mb-0">
                        <button class="btn btn-primary float-first">Submit</button>
                        <button class="btn btn-secondary float-end">Reset</button>
                    </div>

                </div>
            </form>
        </div>
    </div>
</div>