<div id="loginCon">
    <div class="container">
        <div class="row">
            <form>
                <div _ngcontent-wup-c124="" class="brand_company">
                    <a _ngcontent-wup-c124="" class="brand-link fs-1 text-center m-auto">
                        <span _ngcontent-wup-c124="" class="brand-text font-weight-bold ms-3">
                      <span _ngcontent-wup-c124="" class="brandCaptialW">
                        Enrollment</span> Form</span>
                    </a>
                </div>
                <div class="row jumbotron shadow rounded">
                    <div class="col-sm-6 form-group">
                        <label for="f_name">First Name</label>
                        <input type="text" class="form-control" name="fname" id="f_name" placeholder="Enter your first name." required>
                    </div>
                    <div class="col-sm-6 form-group">
                        <label for="l_name">Last name</label>
                        <input type="text" class="form-control" name="lname" id="l_name" placeholder="Enter your last name." required>
                    </div>
                    <div class="col-sm-6 form-group">
                        <label for="email">Email</label>
                        <input type="email" class="form-control" name="email" id="email" placeholder="Enter your email." required>
                    </div>
                    <div class="col-sm-6 form-group">
                        <label for="phone">Phone</label>
                        <input type="text" class="form-control" name="phone" id="phone" placeholder="Enter your Phone number" required>
                    </div>
                    <div class="col-sm-6 form-group">
                        <label for="society_name">Society Name</label>
                        <input type="text" class="form-control" name="society_name" id="society_name-2" placeholder="Enter Society Name" required>
                    </div>
                    <div class="col-sm-6 form-group">
                        <label for="society_address">Society Address</label>
                        <input type="address" class="form-control" name="society_address" id="society_address" placeholder="Enter Society Address" required>
                    </div>
                    <div class="col-sm-3 form-group">
                        <label for="zip">Pincode</label>
                        <input type="zip" class="form-control" name="Zip" id="zip" placeholder="Pin-Code." required>
                    </div>

                    <div class="col-sm-3 form-group">
                        <label for="Country">Country</label>
                        <select class="form-control custom-select browser-default">
                  <option value="India">	India</option>
                  <option value="Indonesia">Indonesia</option>
                  <option value="Iran">Iran</option>
                  <option value="Iraq">	Iraq</option>
                  <option value="Ireland">Ireland</option>
                  <option value="Jamaica">Jamaica</option>
                  <option value="Japan">Japan</option>
                  </select>
                    </div>

                    <div class="col-sm-3 form-group">
                        <label for="Country">State</label>
                        <select class="form-control custom-select browser-default">
                <option value="India">	Maharashtra</option>
                <option value="Indonesia">Indonesia</option>
                <option value="Iran">Iran</option>
                <option value="Iraq">	Iraq</option>
                <option value="Ireland">Ireland</option>
                <option value="Jamaica">Jamaica</option>
                <option value="Japan">Japan</option>
                </select>
                    </div>

                    <div class="col-sm-3 form-group">
                        <label for="Country">City</label>
                        <select class="form-control custom-select browser-default">
              <option value="India">	Mumbai</option>
              <option value="Indonesia">Indonesia</option>
              <option value="Iran">Iran</option>
              <option value="Iraq">	Iraq</option>
              <option value="Ireland">Ireland</option>
              <option value="Jamaica">Jamaica</option>
              <option value="Japan">Japan</option>
              </select>
                    </div>

                    <div class="col-sm-6 form-group">
                        <label for="reference">Reference</label>
                        <select class="form-control select custom-select" name="source" id="source">
                          <option>Select Source</option>
                          <option value="Google Play Store">Google Play Store</option>
                          <option value="Advertisement">Advertisement</option>
                          <option value="Online Ads">Online Ads</option>
                          <option value="Facebook">Facebook</option>
                          <option value="Reference">Reference</option>
                        </select>
                    </div>


                    <div class="col-sm-6 form-group">
                        <label for="Date">When Can You Connect?</label>
                        <select class="form-control custom-select" name="connect_time" id="connect_time">
                          <option>Select Interval</option>
                          <option value="Immediately">Immediately</option>
                          <option value="0-3 Months">0-3 Months</option>
                          <option value="3-6 Months">3-6 Months</option>
                          <option value="6-9 Months">6-9 Months</option>
                          <option value="More than 9 Months">More than 9 Months</option>
                        </select>
                    </div>
                    <div class="col-sm-6 form-group">
                        <label for="role">Your Role?</label>
                        <select id="role" class="form-control browser-default custom-select">
                          <option>Select Role</option>
                          <option value="Member">Member</option>
                          <option value="Committee Member">Committee Member</option>
                          <option value="Accountant">Accountant</option>
        </select>
                    </div>
                    <div class="col-sm-6 form-group">
                        <label for="units ">No of Units</label>
                        <input type="text" id="units" name="units" class="form-control" required="">
                    </div>




                    <div class="col-sm-12 form-group mb-0">
                        <button class="btn btn-primary float-end">Submit</button>
                        <button class="btn btn-secoundary float-end">Reset</button>
                    </div>

                </div>
            </form>
        </div>
    </div>
</div>