<div class="container" id="societies">
    <div class="row">
        <div class="col-md-12 grid-margin stretch-card">
            <div class="card">
                <div class="card-header">
                    <h3 class="card-title bg_dblue">Add New Society</h3>

                </div>
                <div class="card-body">
                    <!-- form  -->
                    <form 
                           
                          enctype="multipart/form-data">

                          <div class="form-row">

                            <div class="col-md-6 mb-3">
                                <label for="OpeningBalance">First Name</label>
                                <input type="text" 
                                       id="OpeningBalance" 
                                       class="form-control" 
                                       required
                                       placeholder="First Name" 
                                       
                                       >

                            </div>

                            <div class="col-md-6 mb-3">
                                <label for="NumberofFlats">Last Name</label>
                                <input type="text" 
                                       id="NumberofFlats" 
                                       class="form-control" 
                                       required
                                       placeholder="Last Name" 
                                     
                                      >
                            </div>


                        </div>

                        <div class="form-row">

                            <div class="col-md-6 mb-3">
                                <label for="OpeningBalance">Email</label>
                                <input type="text" 
                                       id="OpeningBalance" 
                                       class="form-control" 
                                       required
                                       placeholder="Email" 
                                       
                                       >

                            </div>

                            <div class="col-md-6 mb-3">
                                <label for="NumberofFlats">Phone</label>
                                <input type="text" 
                                       id="NumberofFlats" 
                                       class="form-control" 
                                       required
                                       placeholder="Phone:" 
                                     
                                      >
                            </div>


                        </div>
                        
                          <div class="form-row">
                            <div class="col-md-12  mb-3">
                                <label for="name">Company Name</label>
                                <input type="text" 
                                       class="form-control" 
                                       id="name" 
                                       placeholder="Company Name:
                                       " 
                                       value=""
                                       required 
                                       >
                                  
                            </div>
                        </div>

                        <div class="form-row">

                            <div class="col-md-6 mb-3">
                                <label for="OpeningBalance">Password:</label>
                                <input type="text" 
                                       id="OpeningBalance" 
                                       class="form-control" 
                                       required
                                       placeholder="Password" 
                                       
                                       >

                            </div>

                            <div class="col-md-6 mb-3">
                                <label for="NumberofFlats">Confirm Password</label>
                                <input type="text" 
                                       id="NumberofFlats" 
                                       class="form-control" 
                                       required
                                       placeholder="Confirm Password" 
                                     
                                      >
                            </div>


                        </div>

                       
                        <hr>
                        <div class="form-group">
                            <button class="btn btn-primary">Submit</button>
                            <button class="btn btn-secondary float-end" >Reset</button>
                        </div>
                       


                    </form>
                    <!-- /form  -->
                </div>
            </div>
        </div>
    </div>
</div>