<!-- Content Wrapper. Contains page content -->


<!-- breadcrumb section  -->
<!-- Content Header (Page header) -->
<div class="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-6">
                <h1 class="m-0 bg_dblue">Dashboard</h1>
            </div>
            <!-- /.col -->
            <div class="col-sm-6">
                <ol class="breadcrumb float-sm-right">
                    <li class="breadcrumb-item">
                        <a href="!#">Home</a>
                    </li>
                    <li class="breadcrumb-item active">Dashboard</li>
                </ol>
            </div>
            <!-- /.col -->
        </div>
        <!-- /.row -->
    </div>
    <!-- /.container-fluid -->
</div>
<!-- /.content-header -->


<!-- Main content -->
<section class="content">
    <div class="container-fluid">

        <div id="topspoker">
            <div class="row">

                <div class="col-md-3 col-sm-6 col-12">
                    <div class="info-box bg-light pull-up">
                        <span class="info-box-icon">
                    <img src="../../../../assets/images/icons/icons-send.gif" class="nav-icon link_icons_dash me-3" alt="">
                  </span>

                        <div class="info-box-content">
                            <span class="info-box-text fw400 bg_dblue">Send Notice</span>

                        </div>

                    </div>
                </div>

                <div class="col-md-3 col-sm-6 col-12">
                    <div class="info-box bg-light pull-up">
                        <span class="info-box-icon">
                    <img src="../../../../assets/images/icons/icons-sms.png" class="nav-icon link_icons_dash me-3" alt="">
                  </span>

                        <div class="info-box-content">
                            <span class="info-box-text fw400 bg_dblue">Send SMS</span>

                        </div>

                    </div>
                </div>

                <div class="col-md-3 col-sm-6 col-12">
                    <div class="info-box bg-light pull-up">
                        <span class="info-box-icon">
                   
                    <img src="../../../../assets/images/icons/icons-email-send.png" class="nav-icon link_icons_dash me-3" alt="">
                  </span>

                        <div class="info-box-content">
                            <span class="info-box-text fw400 bg_dblue">Send Email</span>

                        </div>

                    </div>
                </div>

                <div class="col-md-3 col-sm-6 col-12">
                    <div class="info-box bg-light pull-up">
                        <span class="info-box-icon">
                 
                    <img src="../../../../assets/images/icons/icons-notification.png" class="nav-icon link_icons_dash me-3" alt="">
                  </span>

                        <div class="info-box-content">
                            <span class="info-box-text fw400 bg_dblue">Send Notification</span>

                        </div>

                    </div>
                </div>


            </div>
        </div>



        <div id="statistics">
            <div class="row">
                <div class="col-md-3 col-sm-6 col-12">
                    <div class="info-box bg-light-info">


                        <div class="info-box-content">
                            <span class="info-box-text" style="text-transform: uppercase;font-size: .98rem; font-weight: 500;">Societies</span>
                            <span class="info-box-number bg_dblue" style="font-size: 1.5rem;"> 41,410</span>

                            <div class="progress">
                                <div class="progress-bar bg-primary" style="width: 70%"></div>
                            </div>
                            <span class="progress-description" style="font-size: 0.8rem;">
                      70% Increase in 30 Days
                    </span>

                        </div>
                        <!-- /.info-box-content -->
                    </div>
                </div>

                <div class="col-md-3 col-sm-6 col-12">
                    <div class="info-box bg-light-info">


                        <div class="info-box-content">
                            <span class="info-box-text" style="text-transform: uppercase;font-size: .98rem; font-weight: 500;">Flats</span>
                            <span class="info-box-number bg_dblue" style="font-size: 1.5rem;">695</span>

                            <div class="progress">
                                <div class="progress-bar bg-primary" style="width: 50%"></div>
                            </div>
                            <span class="progress-description" style="font-size: 0.8rem;">
                      50% Increase in 30 Days
                    </span>
                        </div>
                        <!-- /.info-box-content -->
                    </div>
                </div>

                <div class="col-md-3 col-sm-6 col-12">
                    <div class="info-box bg-light-info">


                        <div class="info-box-content">
                            <span class="info-box-text" style="text-transform: uppercase;font-size: .98rem; font-weight: 500;">Users</span>
                            <span class="info-box-number bg_dblue" style="font-size: 1.5rem;"> 1,098</span>

                            <div class="progress">
                                <div class="progress-bar bg-primary" style="width: 30%"></div>
                            </div>
                            <span class="progress-description" style="font-size: 0.8rem;">
                      30% Increase in 30 Days
                    </span>
                        </div>
                        <!-- /.info-box-content -->
                    </div>
                </div>

                <div class="col-md-3 col-sm-6 col-12">
                    <div class="info-box bg-light-info">


                        <div class="info-box-content">
                            <span class="info-box-text" style="text-transform: uppercase;font-size: .98rem; font-weight: 500;">Service Providers</span>
                            <span class="info-box-number bg_dblue" style="font-size: 1.5rem;"> 41</span>

                            <div class="progress">
                                <div class="progress-bar bg-primary" style="width: 20%"></div>
                            </div>
                            <span class="progress-description" style="font-size: 0.8rem;">
                      20% Increase in 30 Days
                    </span>
                        </div>
                        <!-- /.info-box-content -->
                    </div>
                </div>
            </div>
        </div>

        <div id="maintanceSectio">
            <div class="row">

                <div class="col-md-12 col-sm-6 col-12">
                    <div class="row">
                        <div class="col-4">
                            <div class="info-box  pull-up">
                                <span class="info-box-icon bg-light">
                    <img src="../../../../assets/images/icons/icons-pay.png" alt="">
                    </span>

                                <div class="info-box-content">
                                    <span class="info-box-text">Maintenance Due</span>
                                    <span class="info-box-number bg_dblue">1,410</span>
                                </div>
                                <!-- /.info-box-content -->
                            </div>
                        </div>

                        <div class="col-4">
                            <div class="info-box  pull-up">
                                <span class="info-box-icon light"><i class="far fa-envelope"></i></span>

                                <div class="info-box-content">
                                    <span class="info-box-text">Cash in Hand</span>
                                    <span class="info-box-number bg_dblue">1,410</span>
                                </div>
                                <!-- /.info-box-content -->
                            </div>
                        </div>

                        <div class="col-4">
                            <div class="info-box  pull-up">
                                <span class="info-box-icon light"><i class="far fa-envelope"></i></span>

                                <div class="info-box-content">
                                    <span class="info-box-text">Compleants</span>
                                    <span class="info-box-number bg_dblue">1,410</span>
                                </div>
                                <!-- /.info-box-content -->
                            </div>
                        </div>

                        <div class="col-4">
                            <div class="info-box  pull-up">
                                <span class="info-box-icon light"><i class="far fa-envelope"></i></span>

                                <div class="info-box-content">
                                    <span class="info-box-text">Directory</span>
                                    <span class="info-box-number bg_dblue">1,410</span>
                                </div>
                                <!-- /.info-box-content -->
                            </div>
                        </div>

                        <div class="col-4">
                            <div class="info-box  pull-up">
                                <span class="info-box-icon light"><i class="far fa-envelope"></i></span>

                                <div class="info-box-content">
                                    <span class="info-box-text">Bills</span>
                                    <span class="info-box-number bg_dblue">1,410</span>
                                </div>
                                <!-- /.info-box-content -->
                            </div>
                        </div>

                        <div class="col-4">
                            <div class="info-box  pull-up">
                                <span class="info-box-icon light"><i class="far fa-envelope"></i></span>

                                <div class="info-box-content">
                                    <span class="info-box-text">Wings</span>
                                    <span class="info-box-number bg_dblue">4</span>
                                </div>
                                <!-- /.info-box-content -->
                            </div>
                        </div>


                    </div>

                </div>



            </div>
        </div>



    </div>
    <!-- /.container-fluid -->
</section>
<!-- /.content -->

<section id="chartjs">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-8">
                <div class="card">
                    <div class="card-header ui-sortable-handle" style="cursor: move;">
                        <h3 class="card-title text-primary">
                            <i class="fas fa-chart-pie mr-1"></i> Society Finances
                        </h3>

                    </div>
                    <!-- /.card-header -->
                    <div class="card-body">
                        <div class="tab-content p-0">
                            <!-- Morris chart - Sales -->
                            <div class="chart tab-pane active" id="revenue-chart">
                                <div class="chart tab-pane">
                                    <canvas baseChart [datasets]="barChartData" [labels]="barChartLabels" [options]="barChartOptions" [legend]="barChartLegend" [chartType]="barChartType" [colors]="chartColors">
                                  </canvas>
                                </div>


                            </div>

                        </div>
                    </div>
                    <!-- /.card-body -->
                </div>
            </div>

            <div class="col-lg-4">
                <div class="card">
                    <div class="card-header ui-sortable-handle" style="cursor: move;">
                        <h3 class="card-title text-info">
                            <i class="fas fa-chart-pie mr-1"></i> Residencial Manger
                        </h3>

                    </div>
                    <div class="card-body">
                        <div class="tab-content p-0">
                            <!-- Morris chart - Sales -->
                            <div class="chart tab-pane active" id="revenue-chart">



                                <div class="chart tab-pane row">
                                    <div class="col-sm-6 text-center mb-5">
                                        <circle-progress [percent]="85" [showUnits]="true" units="" [showSubtitle]="false" [radius]="40" [outerStrokeWidth]="7" [innerStrokeWidth]="4" [outerStrokeColor]="'#78C000'" [innerStrokeColor]="'#C7E596'" [animation]="true" [animationDuration]="300"></circle-progress>
                                        <br>
                                        <span>Total Units</span>
                                    </div>

                                    <div class="col-sm-6 text-center mb-5">
                                        <circle-progress [percent]="45" [showUnits]="true" units="" [showSubtitle]="false" [radius]="40" [outerStrokeWidth]="7" [innerStrokeWidth]="4" [outerStrokeColor]="'#2b799f'" [innerStrokeColor]="'#2b799f'" [animation]="true" [animationDuration]="300"></circle-progress>
                                        <br> <span>Owners</span>
                                    </div>

                                    <div class="col-sm-6 text-center mb-5">
                                        <circle-progress [percent]="25" [showUnits]="true" units="" [showSubtitle]="false" [radius]="40" [outerStrokeWidth]="7" [innerStrokeWidth]="4" [outerStrokeColor]="'#8c93d8'" [innerStrokeColor]="'#8c93d8'" [animation]="true" [animationDuration]="300"></circle-progress>
                                        <br> <span>Tenants</span>
                                    </div>

                                    <div class="col-sm-6 text-center mb-5">
                                        <circle-progress [percent]="15" [showUnits]="true" units="" [showSubtitle]="false" [radius]="40" [outerStrokeWidth]="7" [innerStrokeWidth]="4" [outerStrokeColor]="'#f56954'" [innerStrokeColor]="'#f56954'" [animation]="true" [animationDuration]="300"></circle-progress>
                                        <br> <span>Vaccant Units</span>
                                    </div>


                                </div>



                            </div>

                        </div>
                    </div>

                </div>
            </div>

        </div>
    </div>
</section>

<section>
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-6">
                <div class="card">
                    <div class="card-header">
                        <h3 class="card-title">Societies</h3>
                    </div>
                    <!-- /.card-header -->
                    <div class="card-body p-0">
                        <table class="table table-striped table-sm">
                            <thead>
                                <tr>
                                    <th style="width: 10px">#</th>
                                    <th>Name</th>
                                    <th>Registration_no</th>
                                    <th style="width: 40px">No of Flats</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>1.</td>
                                    <td>Ekvira Apartment</td>
                                    <td>
                                        TNA/HSG/913 of 1976,
                                    </td>
                                    <td><span class="badge bg-danger" data-toggle="tooltip" data-placement="top" title="Bill Pending">55</span></td>
                                </tr>
                                <tr>
                                    <td>2.</td>
                                    <td>Ekvira Apartment</td>
                                    <td>
                                        TNA/HSG/913 of 1976,
                                    </td>
                                    <td><span class="badge bg-warning" data-toggle="tooltip" data-placement="top" title="Pending 10days">70</span></td>
                                </tr>
                                <tr>
                                    <td>3.</td>
                                    <td>Ekvira Apartment</td>
                                    <td>
                                        TNA/HSG/913 of 1976,
                                    </td>
                                    <td><span class="badge bg-primary" data-toggle="tooltip" data-placement="top" title="Pending Proccess">30</span></td>
                                </tr>
                                <tr>
                                    <td>4.</td>
                                    <td>Ekvira Apartment</td>
                                    <td>
                                        TNA/HSG/913 of 1976,
                                    </td>
                                    <td><span class="badge bg-success" data-toggle="tooltip" data-placement="top" title="Pending Bill Dome">90</span></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <!-- /.card-body -->
                </div>
            </div>

            <div class="col-lg-6">
                <div class="card">
                    <div class="card-header">
                        <h3 class="card-title">Vistors Reports</h3>
                    </div>
                    <!-- /.card-header -->
                    <div class="card-body row">
                        <div class="col-lg-3 text-center">
                            <circle-progress [showUnits]="true" units="" [showSubtitle]="false" [percent]="15" [radius]="30" [outerStrokeWidth]="7" [innerStrokeWidth]="2" [outerStrokeColor]="'#f56954'" [innerStrokeColor]="'#f56954'" [animation]="true" [animationDuration]="200"></circle-progress>
                            <br> <span>Delivery</span>
                        </div>

                        <div class="col-lg-3 text-center">
                            <circle-progress [showUnits]="true" units="" [showSubtitle]="false" [percent]="15" [radius]="30" [outerStrokeWidth]="7" [innerStrokeWidth]="2" [outerStrokeColor]="'#f56954'" [innerStrokeColor]="'#f56954'" [animation]="true" [animationDuration]="200"></circle-progress>
                            <br> <span>Guest</span>
                        </div>

                        <div class="col-lg-3 text-center">
                            <circle-progress [showUnits]="true" units="" [showSubtitle]="false" [percent]="15" [radius]="30" [outerStrokeWidth]="7" [innerStrokeWidth]="2" [outerStrokeColor]="'#f56954'" [innerStrokeColor]="'#f56954'" [animation]="true" [animationDuration]="200"></circle-progress>
                            <br> <span>Couirer</span>
                        </div>

                        <div class="col-lg-3 text-center">
                            <circle-progress [showUnits]="true" units="" [showSubtitle]="false" [percent]="15" [radius]="30" [outerStrokeWidth]="7" [innerStrokeWidth]="2" [outerStrokeColor]="'#f56954'" [innerStrokeColor]="'#f56954'" [animation]="true" [animationDuration]="200"></circle-progress>
                            <br> <span>Service</span>
                        </div>

                    </div>
                    <!-- /.card-body -->
                </div>
            </div>

        </div>
    </div>
</section>